<?xml version="1.0"?>
<configuration>
  <configSections>    
    <section name="booking_email" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="cancel_email" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="email_gds_pickup_update" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="blank_email" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="table_email" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="pickup_mismatch" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <webHttpBinding>
        <binding name="LargeWeb"
                 maxBufferPoolSize="450000"
                 maxReceivedMessageSize="450000"
                 maxBufferSize="450000">
          <readerQuotas
                maxArrayLength="656000"
                maxBytesPerRead="656000"
                maxDepth="32"
                maxNameTableCharCount="656000"
                maxStringContentLength="656000"
            />
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="gds_services.SMS_Services" behaviorConfiguration="serviceBehavior">
        <endpoint address=""
              binding="webHttpBinding"
              contract="gds_services.ISMS_Services"
            behaviorConfiguration="web"></endpoint>
      </service>
      <service name="gds_services.Email_Services" behaviorConfiguration="serviceBehavior">
        <endpoint address=""
              binding="webHttpBinding"
              bindingConfiguration="LargeWeb"
              contract="gds_services.IEmail_Services"
            behaviorConfiguration="web"></endpoint>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp defaultOutgoingResponseFormat="Json" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <appSettings>
    <add key="Log4NetLocation" value="D:\repo\gds_services\gds_services\Log4Net.config"/>
    <add key="GDSConnString" value="Data Source=gdsdb;Initial Catalog=GDS;Persist Security Info=True;User ID=agn;Password=t0w3r47556br!dg3;Max Pool Size=200"/>

    <add key="SMS_MAX_RETRIES" value="1"/>
    <add key="TYSMSURL" value="http://www.smsjust.com/blank/sms/user/urlsmstemp.php?username=travelyaari&amp;pass=travel789&amp;senderid=TYaari&amp;dest_mobileno=#MOBILENO#&amp;message=#MESSAGE#&amp;response=Y"/>
    <add key="SMS_GATEWAY_EZEESMS" value="http://myvaluefirst.com/smpp/sendsms?username=mantistech&amp;password=manti2st&amp;to=@@mobile_no&amp;from=TYaari&amp;text=@@sms_text"/>
    <add key="SMS_PANEL" value="http://216.245.209.132/rest/services/sendSMS/sendGroupSms?AUTH_KEY=a27dcae1f769e77ff369bea1ff8a1&amp;message=##message##&amp;senderId=##senderid##&amp;routeId=1&amp;mobileNos=##mobile##&amp;smsContentType=english"/>
    <add key="DEFAULT_SMS_GATEWAY" value="SMS_PANEL"/>
    <add key="API_KEY_SALT" value="tata salt"/>
    <add key="TYEmailID" value="info@travelyaari.com"/>
    <add key="SMTPServer" value="smtp.gmail.com"/>
    <add key="SMTPPort" value="587"/>
    <add key="TYEmailPassword" value="mantisyaari.com"/>
    
  </appSettings>

  <booking_email>
    <!-- GDS Booking Email Template configuration-->
    <add key="directory" value="C:\\Users\\Amritesh\\Desktop\\code_base\\gds_services\\gds_services\\gds_services\\resources\\html_templates\\"/>
    <add key="content_template" value="Booking_Email.html"/>
    <add key="attachment_template" value="Booking_Email.html"/>
    <add key="sender_email_id" value="info@travelyaari.com"/>
    <add key="sender_password" value="mantisyaari.com"/>
    <add key="default_cc_email" value="amritesh.anand@travelyaari"/>
    <add key="default_subject" value="Bus Ticket Details - #FCITY# to #TCITY#"/>
    <add key="default_attachment" value="ETicket.html"/>
  </booking_email>

  <blank_email>
    <!-- GDS Booking Email Template configuration-->
    <add key="directory" value="C:\\Users\\Amritesh\\Desktop\\code_base\\gds_services\\gds_services\\gds_services\\resources\\html_templates\\"/>
    <add key="content_template" value="Blank_Email.html"/>
    <add key="attachment_template" value="Blank_Email.html"/>
    <add key="sender_email_id" value="info@travelyaari.com"/>
    <add key="sender_password" value="mantisyaari.com"/>
    <add key="default_cc_email" value="amritesh.anand@travelyaari"/>
    <add key="default_subject" value="Travelyaari System Generated Mail"/>
  </blank_email>

  <cancel_email>
    <!-- GDS Booking Email Template configuration-->
    <add key="directory" value="C:\\Users\\Amritesh\\Desktop\\code_base\\gds_services\\gds_services\\gds_services\\resources\\html_templates\\"/>
    <add key="content_template" value="Cancellation.html"/>
    <add key="attachment_template" value="Cancellation.html"/>
    <add key="sender_email_id" value="info@travelyaari.com"/>
    <add key="sender_password" value="mantisyaari.com"/>
    <add key="default_cc_email" value="amritesh.anand@travelyaari"/>
    <add key="default_subject" value="Travelyaari System Generated Mail"/>
    <add key="default_attachment" value="Attachment_File.html"/>
  </cancel_email>

  <table_email>
    <!-- GDS Booking Email Template configuration-->
    <add key="directory" value="C:\\Users\\Amritesh\\Desktop\\code_base\\gds_services\\gds_services\\gds_services\\resources\\html_templates\\"/>
    <add key="content_template" value="Cancellation.html"/>
    <add key="attachment_template" value="Cancellation.html"/>
    <add key="sender_email_id" value="info@travelyaari.com"/>
    <add key="sender_password" value="mantisyaari.com"/>
    <add key="default_cc_email" value="amritesh.anand@travelyaari"/>
    <add key="default_subject" value="Travelyaari System Generated Mail"/>
    <add key="default_attachment" value="Attachment_File.html"/>
  </table_email>

  <pickup_mismatch>
    <!-- GDS Booking Email Template configuration-->
    <add key="directory" value="C:\\Users\\Amritesh\\Desktop\\code_base\\gds_services\\gds_services\\gds_services\\resources\\html_templates\\"/>
    <add key="content_template" value="Pickup_Mismatch.html"/>
    <add key="attachment_template" value="Pickup_Mismatch.html"/>
    <add key="sender_email_id" value="info@travelyaari.com"/>
    <add key="sender_password" value="mantisyaari.com"/>
    <add key="default_cc_email" value="amritesh.anand@travelyaari.com"/>
    <add key="default_subject" value="Alert! Pickup timing for your ticket has changed."/>
    <add key="default_attachment" value="ETicket.html"/>
  </pickup_mismatch>


</configuration>
