<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="sms_gateway" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="booking_email" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="cancel_email" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="email_gds_pickup_update" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="blank_email" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="table_email" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="pickup_mismatch" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="pickup_reminder" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <section name="orp_email" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <!--This section was added to allow big emails to be sent-->
    <bindings>
      <webHttpBinding>
        <binding name="LargeWeb"
                 maxBufferPoolSize="450000"
                 maxReceivedMessageSize="450000"
                 maxBufferSize="450000">
          <readerQuotas
                maxArrayLength="656000"
                maxBytesPerRead="656000"
                maxDepth="32"
                maxNameTableCharCount="656000"
                maxStringContentLength="656000"
            />
        </binding>
      </webHttpBinding>
    </bindings>
    <services>
      <service name="gds_services.SMS_Services" behaviorConfiguration="serviceBehavior">
        <endpoint address=""
              binding="webHttpBinding"
              contract="gds_services.ISMS_Services"
            behaviorConfiguration="web"></endpoint>
      </service>
      <service name="gds_services.Email_Services" behaviorConfiguration="serviceBehavior">
        <endpoint address=""
              binding="webHttpBinding"
              bindingConfiguration="LargeWeb"
              contract="gds_services.IEmail_Services"
            behaviorConfiguration="web"></endpoint>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp defaultOutgoingResponseFormat="Json" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <appSettings>
    <add key="Log4NetLocation" value="C:\Users\Amritesh\Desktop\code_base\gds_services\gds_services\gds_services\Log4Net.config"/>
    <add key="GDSConnString" value="Data Source=gdsdb;Initial Catalog=GDS;Persist Security Info=True;User ID=agn;Password=t0w3r47556br!dg3;Max Pool Size=200"/>

    <add key="Valid_Email_Types" value="booking_email,cancel_email,blank_email,blank_email,pickup_mismatch,pickup_reminder,orp_email"/>
    <add key="Valid_Email_Templates" value="Booking_Email.html,Cancellation.html,Pickup_Mismatch.html,Pickup_Reminder.html"/>
    <add key="Valid_SMS_Types" value="booking_sms_ty,booking_sms_gds,cancel_sms_ty,cancel_sms_gds,pickup_mismatch_sms_ty,pickup_mismatch_sms_gds,pickup_reminder_sms_ty,pickup_reminder_sms_gds"/>

    <add key="TYSMSURL" value="http://www.smsjust.com/blank/sms/user/urlsmstemp.php?username=travelyaari&amp;pass=travel789&amp;senderid=TYaari&amp;dest_mobileno=#MOBILENO#&amp;message=#MESSAGE#&amp;response=Y"/>
    <add key="SMS_GATEWAY_EZEESMS" value="http://myvaluefirst.com/smpp/sendsms?username=@@username&amp;password=@@password&amp;to=@@mobile_no&amp;from=TYaari&amp;text=@@sms_text"/>
    <add key="SMS_PANEL" value="http://216.245.209.132/rest/services/sendSMS/sendGroupSms?AUTH_KEY=a27dcae1f769e77ff369bea1ff8a1&amp;message=##message##&amp;senderId=##senderid##&amp;routeId=1&amp;mobileNos=##mobile##&amp;smsContentType=english"/>
    <add key="DEFAULT_SMS_GATEWAY" value="SMS_PANEL"/>
    <add key="API_KEY_SALT" value="tata salt"/>
    
    <add key="SMTPServer" value="email-smtp.us-east-1.amazonaws.com"/>
    <add key="SMTPPort" value="587"/>
    <add key="TYEmailID" value="AKIAIS5UJIPGN2C2HXRQ"/>
    <add key="TYEmailPassword" value="AjkvjNcBDomITmGKkeJEMXB+3GpdbEZQQhv6Mfwmzhro"/>
    
    
  </appSettings>

  <booking_email>
    <!-- GDS Booking Email Template configuration-->
    <add key="directory" value="C:\\Users\\Amritesh\\Desktop\\code_base\\gds_services\\gds_services\\gds_services\\resources\\html_templates\\"/>
    <add key="content_template" value="Booking_Email.html"/>
    <add key="attachment_template" value="Booking_Email.html"/>
    <add key="default_cc_email" value=""/>
    <add key="default_subject" value="Bus Ticket Details - #FCITY# to #TCITY#"/>
    <add key="default_attachment" value="ETicket.html"/>
    <add key="from_email_id" value="donotreply@travelyaari.com"/>
  </booking_email>

  <blank_email>
    <!-- GDS Booking Email Template configuration-->
    <add key="directory" value="C:\\Users\\Amritesh\\Desktop\\code_base\\gds_services\\gds_services\\gds_services\\resources\\html_templates\\"/>
    <add key="content_template" value="Blank_Email.html"/>
    <add key="attachment_template" value="Blank_Email.html"/>
    <add key="default_attachment" value="ETicket.html"/>
    <add key="default_cc_email" value="info@travelyaari.com"/>
    <add key="default_subject" value="Travelyaari System Generated Mail"/>
    <add key="from_email_id" value="donotreply@travelyaari.com"/>
  </blank_email>

  <cancel_email>
    <!-- GDS Booking Email Template configuration-->
    <add key="directory" value="C:\\Users\\Amritesh\\Desktop\\code_base\\gds_services\\gds_services\\gds_services\\resources\\html_templates\\"/>
    <add key="content_template" value="Cancellation.html"/>
    <add key="attachment_template" value="Cancellation.html"/>
    <add key="default_cc_email" value="amritesh.anand@travelyaari"/>
    <add key="default_subject" value="Travelyaari System Generated Mail"/>
    <add key="default_attachment" value="Attachment_File.html"/>
    <add key="from_email_id" value="donotreply@travelyaari.com"/>
  </cancel_email>

  <pickup_mismatch>
    <!-- GDS Booking Email Template configuration-->
    <add key="directory" value="C:\\Users\\Amritesh\\Desktop\\code_base\\gds_services\\gds_services\\gds_services\\resources\\html_templates\\"/>
    <add key="content_template" value="Pickup_Mismatch.html"/>
    <add key="attachment_template" value="Pickup_Mismatch.html"/>
    <add key="default_cc_email" value=""/>
    <add key="default_subject" value="Alert! Pickup timing for your ticket has changed."/>
    <add key="default_attachment" value="ETicket.html"/>
    <add key="from_email_id" value="donotreply@travelyaari.com"/>
  </pickup_mismatch>

  <pickup_reminder>
    <!-- GDS Booking Email Template configuration-->
    <add key="directory" value="C:\\Users\\Amritesh\\Desktop\\code_base\\gds_services\\gds_services\\gds_services\\resources\\html_templates\\"/>
    <add key="content_template" value="Pickup_Reminder.html"/>
    <add key="attachment_template" value="Pickup_Reminder.html"/>
    <add key="default_cc_email" value=""/>
    <add key="default_subject" value="Reminder for your Trip"/>
    <add key="default_attachment" value="ETicket.html"/>
    <add key="from_email_id" value="donotreply@travelyaari.com"/>
  </pickup_reminder>

  <orp_email>
    <!-- GDS Booking Email Template configuration-->
    <add key="directory" value="C:\\Users\\Amritesh\\Desktop\\code_base\\gds_services\\gds_services\\gds_services\\resources\\html_templates\\"/>
    <add key="content_template" value="Blank_Email.html"/>
    <add key="attachment_template" value="Blank_Email.html"/>
    <add key="default_cc_email" value="info@travelyaari.com"/>
    <add key="default_subject" value="Travelyaari System Generated Mail"/>
    <add key="default_attachment" value="ETicket.html"/>
    <add key="from_email_id" value="info@travelyaari.com"/>
  </orp_email>

  <sms_gateway>
    <!-- stores all sms credentials-->
    <add key="booking_sms_ty" value="http://216.245.209.132/rest/services/sendSMS/sendGroupSms?AUTH_KEY=a27dcae1f769e77ff369bea1ff8a1&amp;message=@@sms_text&amp;senderId=@@senderid&amp;routeId=1&amp;mobileNos=@@mobile_no&amp;smsContentType=english"/>
    <add key="booking_sms_gds" value="http://216.245.209.132/rest/services/sendSMS/sendGroupSms?AUTH_KEY=a27dcae1f769e77ff369bea1ff8a1&amp;message=@@sms_text&amp;senderId=@@senderid&amp;routeId=1&amp;mobileNos=@@mobile_no&amp;smsContentType=english"/>
    <add key="cancel_sms_ty" value=""/>
    <add key="cancel_sms_gds" value=""/>
    <add key="pickup_mismatch_sms_ty" value="http://myvaluefirst.com/smpp/sendsms?username=pickupmisty&amp;password=travel@789&amp;to=@@mobile_no&amp;from=@@senderid&amp;text=@@sms_text"/>
    <add key="pickup_mismatch_sms_gds" value="http://myvaluefirst.com/smpp/sendsms?username=pickupmisgds&amp;password=travel@789&amp;to=@@mobile_no&amp;from=@@senderid&amp;text=@@sms_text"/>
    <add key="pickup_reminder_sms_ty" value="http://myvaluefirst.com/smpp/sendsms?username=pickupremty&amp;password=travel@789&amp;to=@@mobile_no&amp;from=@@senderid&amp;text=@@sms_text"/>
    <add key="pickup_reminder_sms_gds" value="http://myvaluefirst.com/smpp/sendsms?username=pickupremgds&amp;password=travel@789&amp;to=@@mobile_no&amp;from=@@senderid&amp;text=@@sms_text"/>
  </sms_gateway>

</configuration>
