<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>      
      <service name="gds_services.SMS_Services" behaviorConfiguration="serviceBehavior">
        <endpoint address=""
              binding="webHttpBinding"
              contract="gds_services.ISMS_Services"
            behaviorConfiguration="web"></endpoint>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp defaultOutgoingResponseFormat="Json" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="serviceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <appSettings>
    <add key="Log4NetLocation" value="C:\Users\MY\Documents\Visual Studio 2010\Projects\test\test\Log4Net.config"/>
    <add key="GDSConnString" value="Data Source=gdsdb;Initial Catalog=GDS;Persist Security Info=True;User ID=agn;Password=t0w3r47556br!dg3;Max Pool Size=200"/>

    <add key="SMS_MAX_RETRIES" value="3"/>
    <add key="SMS_GATEWAY_EZEESMS" value="http://myvaluefirst.com/smpp/sendsms?username=mantistech&amp;password=manti2st&amp;to=@@mobile_no&amp;from=TYaari&amp;text=@@sms_text"/>

  </appSettings>
</configuration>
